body {
  font-family: architects daughter;
}

h1 {
  text-align: center;
  font-size: 50px;
  font-weight: bolder;
}

.weather-app {
  border: 1px solid gray;
  border-radius: 2%;
  padding: 15px 20px;
  margin: 15px;
  max-width: 80%;
  background-image: url("clouds.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 9px 9px 5px black;
}

#city-name {
  font-size: large;
  text-align: center;
  color: -internal-light-dark (black, white);
  background-color: -internal-light-dark(rgb(239, 239, 239), rgb(59, 59, 59));
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  border-color: -internal-light-dark(rgb(118, 118, 118), rgb(133, 133, 133));
  border-image: initial;
  border-radius: 5px;
}

#select-city {
  text-align: right;
}

.hide {
  display: none;
}

#select-city:hover + .hide {
  display: block;
  font-size: 15px;
  color: red;
}

#current-city {
  font-size: large;
  padding: 1px 6px;
  border-width: 2px;
  border-style: outset;
  box-sizing: border-box;
  border-radius: 5px;
}

#current-city:hover {
  background-color: turquoise;
}

#cityB {
  margin-top: 20px;
  font-weight: bold;
}

.today {
  font-size: 24px;
  font-weight: bolder;
}

#description {
  font-size: 20px;
  font-weight: bolder;
}

#icon {
  margin-left: 20px;
  position: relative;
  top: -50px;
}

#temp {
  font-size: 140px;
  margin-left: 5px;
}

.degree {
  font-size: 30px;
  font-weight: bolder;
  position: relative;
  top: -50px;
}

.attributes {
  font-size: 30px;
  font-weight: bold;
  list-style: none;
  position: relative;
  top: 50px;
}

#hourly:hover {
  background-color: rgb(108, 187, 240);
  border-radius: 8px;
}

.hourly-forecast {
  font-size: 20px;
  font-weight: bolder;
}

.hourly-forecast-icon {
  height: 50px;
}

.daily-forecast {
  list-style: none;
  text-align: center;
  font-size: 30px;
  font-weight: bolder;
}

.forecast-line {
  line-height: 35px;
  margin: 0;
}

.forecast-line:hover {
  background-color: rgb(108, 187, 240);
  border-radius: 8px;
}

.forecast-day {
  padding-right: 60px;
}

.daily-forecast-icon {
  height: 80px;
  padding-right: 100px;
}
